/Temp
/Library
/Logs
/.vscode
/.idea
/build
/obj
\Temp
\Library
\Logs
\.vscode
\.idea
\build
\obj
/[Aa]ssets/Plugins/FMOD/Cache/*
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta
